body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
    display: inline-block;
    background: #E7F5FF;
    overflow-x: hidden;
}
.logo_head {
    float: left;
    margin-left: 25px;
    padding: 6px 5px 17px 0;
}
.logo_text {
    float: left;
    margin-left: 10px;
    padding: 14px 40px 17px 0px;
}

.head_menu {
    background: #004883;
    opacity: 0.97;
    position: fixed;
    top: 0;
    padding: 0 20px 0 5px; 
    width: 100%;
    height: 55px;
    text-align: right;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.57);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.57);
}
.head_menu .right-menu {
    float: right;
    padding: 0;
    display: flex;
}
.head_menu .right-menu a {
    width: max-content;
    height: 99%;
    padding: 17px 40px;
    border-left: 1px solid #5b7992; height: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.head_menu .right-menu a:hover {
    color: #a3a8ad;
    background-color: #065c9e; 
}
/*.head_menu .right-menu div:hover > a {
    color: #a3a8ad;
}*/
.head_menu div a {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration:  none;
}
.header {
    background-attachment: fixed;
    background-size: cover; 
    background-image: url(../images/header.png);
    height: 760px;
}
.header_background {
    background: linear-gradient(178deg, #004883 0%,#0048838c 35%,#004883 93%, #E7F5FF 3%);
    height: 100%;
}
.header-info {
    padding-top: 200px;
    text-align: center;
    color: white;
}
.header-info h1 {
    font-size: 4em;
    margin-bottom: 10px;
}
.header-logo img {
    width: 200px;
}
.header-button {
    padding-top: 30px;
}
.header-button a {
    color: white;
    font-weight: 600;
    background: linear-gradient(#2273ff 35%,#004883 93%);
    padding: 15px 60px;
    border: 1px solid;
    text-decoration: none;
    border-radius: 6px;
}
.header-button a:hover {
    background: linear-gradient(#004883 35%,#2273ff 93%);
}
.logo a {
    font-size: 24px;
    color: white;
    font-weight: bold;
    display: inline;
    
}
.logo {
    float: left;
    width: 23%;
    margin-left: 4px;
}

.main {
    min-height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 1px;
}
.footer { 
    /*background: url(../images/Footer1.png); */
    /*background-repeat: no-repeat; */
    background: #004883;
    background-size: 100%;
    margin-bottom: -4px;
}
.cut-top {
    content: ' ';
    position: absolute;
    z-index: 1;
    left: 0;
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-right: 30px solid #004883;
    border-right-width: 100vw;
        margin-top: -80px;
}
.footer_copyright {
    color: white;
    display: inline-flex;
    font-weight: bold;
    font-size:  15px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 20px;
}
.social_footer {
    padding-top: 16px;
    float:right;
    color:grey;
    display: inline-flex;
    margin-right: 70px;
    /* background-color: grey; */
    /* border-radius: 10px; */
    margin-bottom: 0;
    
}
.social_footer a {
    color:#fff;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 0px;
}
.social_footer a:hover {
    color:#a3a8ad;
    opacity: 0.7;
    -webkit-box-shadow: 15px 18px 41px -4px rgba(0,0,0,1);
    -moz-box-shadow: 15px 18px 41px -4px rgba(0,0,0,1);
    box-shadow: 15px 18px 41px -4px rgba(0,0,0,1);

}